body {
    margin: 0;
    padding: 0;
    font-family: Garamond;
    font-size: 12pt;
}

h1 { font-size: 24pt; font-weight: 400; }
h2 { font-size: 18pt; font-weight: 400; }
h3 { font-size: 14pt; font-weight: 400; }

@media screen {
    body {
        margin: 0 auto;
        margin-bottom: 50pt;
        width: 100%;
    }
}

 @media screen and (min-width: 1030px) {
    body {
        width: 70%;
        min-width: 1000px;
    }
}

@page {
    size: auto;
    margin: 0;
    padding: 0;
}

.chapterInfo, .lessonInfo {
    padding: 20pt 20pt 10pt 50pt;
    //border: 1px solid red;
    box-sizing: border-box;
}

@media print {
    .lesson {
        page-break-before: always;
    }
}

@media screen {
    .lesson {
        padding-top: 20pt;
    }
}

.lesson {
    
    margin: 0pt;

    .leftCol 
    {
        width: 60%;
    }

    .rightCol 
    {
        float: right;
        width: 40%;
    }

    .imgDiv {

        overflow: hidden;
        margin: 0px auto;
        width: 95%;

        img {
            
            margin-top: -0px;
            width: 100%;
            height: auto;
            page-break-before: auto;
            page-break-after: auto;
            page-break-inside: avoid;
        }
    }
}

